{% load staticfiles %}

<ul class="nav nav-pills nav-stacked custom-nav">

    <!-- админ -->
    {% if user.is_superuser %}
    <li class="menu-list {% if request.resolver_match.namespace == 'admin' %} nav-active {% endif %}">
        <a href="{% url 'admin:admin' %}"><i class="fa fa-cogs"></i> <span>Адміністрування</span></a>
        <ul class="sub-menu-list">
            <li class="{% if request.resolver_match.url_name == 'admin' %} active {% endif %}">
                <a href="{% url 'admin:admin' %}"> Адмінпанель</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'users' %} active {% endif %}">
                <a href="{% url 'admin:users' %}"> Користувачі</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'user_create' %} active {% endif %}">
                <a href="{% url 'admin:user_create' %}"> Новий користувач</a>
            </li>
        </ul>
    </li>
    {% endif %}

    <!-- директор/помошник -->
    {% if user.is_dir or user.is_assistant or user.is_superuser %}
    <li class="menu-list {% if request.resolver_match.namespace == 'crm' %} nav-active {% endif %}">
        <a href="{% url 'crm:main_crm' %}"><i class="fa fa-desktop"></i> <span>CRM</span></a>
        <ul class="sub-menu-list">
            <li class="{% if request.resolver_match.url_name == 'main_crm' %} active {% endif %}">
                <a href="{% url 'crm:main_crm' %}"> Головна</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'partners' or request.resolver_match.url_name == 'partner_read' or request.resolver_match.url_name == 'partner_update' %} active {% endif %}">
                <a href="{% url 'crm:partners' %}"> Контрагенти</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'contracts' or request.resolver_match.url_name == 'contract_read'  or request.resolver_match.url_name == 'contract_update' %} active {% endif %}">
                <a href="{% url 'crm:contracts' %}"> Договора</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'invoices' or request.resolver_match.url_name == 'invoice_update' or request.resolver_match.url_name == 'invoice_read' %} active {% endif %}">
                <a href="{% url 'crm:invoices' %}"> Рахунки</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'acts' or request.resolver_match.url_name == 'act_update' or request.resolver_match.url_name == 'act_read' %} active {% endif %}">
                <a href="{% url 'crm:acts' %}"> Акти</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'firms' or request.resolver_match.url_name == 'firm_create' or request.resolver_match.url_name == 'firm_update' or request.resolver_match.url_name == 'firm_read' %} active {% endif %}">
                <a href="{% url 'crm:firms' %}"> Фірми</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'projects' or request.resolver_match.url_name == 'project_create' or request.resolver_match.url_name == 'project_update' or request.resolver_match.url_name == 'project_read' %} active {% endif %}">
                <a href="{% url 'crm:projects' %}"> Проекти</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'services' %} active {% endif %}">
                <a href="{% url 'crm:services' %}"> Послуги</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'workers_list' or request.resolver_match.url_name == 'worker_detail' or request.resolver_match.url_name == 'worker_update' %} active {% endif %}">
                <a href="{% url 'crm:workers_list' %}"> Працівники</a>
            </li>
        </ul>
    </li>
    {% endif %}

    <!-- задачи -->
    {% if user.is_authenticated %}
    <li class="menu-list {% if request.resolver_match.namespace == 'main' or request.resolver_match.url_name == 'main' %} nav-active {% endif %}">
        <a href="{#% url 'admin:admin' %#}"><i class="fa fa-book"></i> <span>Завдання</span></a>
        <ul class="sub-menu-list">
            <li class="{% if request.resolver_match.url_name == 'all_tasks' %} active {% endif %}">
                <a href="{% url 'main:all_tasks' %}"> Всі</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'main' %} active {% endif %}">
                <a href="{% url 'main' %}"> Призначені</a>
            </li>
            <li class="{% if request.resolver_match.url_name == 'tasks_done' %} active {% endif %}">
                <a href="{% url 'main:tasks_done' %}"> Завершені</a>
            </li>
        </ul>
    </li>
    {% endif %}
</ul>
<!--{{ request.resolver_match.url_name}}-->
<!--{{user}} {{object.username}}-->