<form id="signupForm" class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--{{ form.as_p }}-->
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.project.label_tag }}</label>
        <div class="col-lg-4">
            {{ form.project }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.date_create.label_tag }}</label>
        <div class="col-lg-2">
            {{ form.date_create }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.date_end.label_tag }}</label>
        <div class="col-md-2 col-xs-11">
            <div data-date-viewmode="day" data-date-format="dd.mm.yyyy" data-date="12-02-2012"
                 class="input-append date dpYears">
                {{ form.date_end }}
                <span class="input-group-btn add-on">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.worker.label_tag }}</label>
        <div class="col-lg-6">
            {{ form.worker }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.service.label_tag }}</label>
        <div class="col-lg-6">
            {{ form.service }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.status.label_tag }}</label>
        <div class="col-lg-6">
            {{ form.status }}
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label class="control-label col-lg-2">{{ form.status.label_tag }}</label>-->
        <!--<div class="col-lg-2">-->
            <!--<div class="input-group m-bot15">-->
                <!--{{ form.status }}<span class="input-group-addon">%</span>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label class="control-label col-lg-2">{{ form.is_finished.label_tag }}</label>-->
        <!--<div class="col-sm-9 icheck">-->
            <!--<div class="flat-green single-row">-->
                <!--<div class="radio">-->
                    <!--{{ form.is_finished }}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <button class="btn btn-primary" type="submit">
        Зберегти
    </button>
    <!--<a href="{#% url 'crm:contract_read' object.contract.pk %#}">-->
        <!--<button class="btn btn-default" type="button">-->
            <!--Назад-->
        <!--</button>-->
    <!--</a>-->
</form>
