<form id="signupForm" class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.number.label_tag }}</label>
        <div class="col-lg-2">
            {{ form.number }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.date_start.label_tag }}</label>
        <div class="col-md-2 col-xs-11">
            <div data-date-viewmode="day" data-date-format="dd.mm.yyyy" data-date="12-02-2012"
                 class="input-append date dpYears">
                {{ form.date_start }}
                <span class="input-group-btn add-on">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.date_end.label_tag }}</label>
        <div class="col-md-2 col-xs-11">
            <div data-date-viewmode="day" data-date-format="dd.mm.yyyy" data-date="12-02-2012"
                 class="input-append date dpYears">
                {{ form.date_end }}
                <span class="input-group-btn add-on">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.client.label_tag }}</label>
        <div class="col-lg-6">
            {{ form.client }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.performer.label_tag }}</label>
        <div class="col-lg-6">
            {{ form.performer }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.works.label_tag }}</label>
        <div class="col-lg-6">
            {{ form.works }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.cost.label_tag }}</label>
        <div class="col-lg-2">
            {{ form.cost }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.vat.label_tag }}</label>
        <div class="col-lg-2">
            {{ form.vat }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.cost_vat.label_tag }}</label>
        <div class="col-lg-2">
            {{ form.cost_vat }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.district.label_tag }}</label>
        <div class="col-lg-6">
            {{ form.district }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.town.label_tag }}</label>
        <div class="col-lg-6">
            {{ form.town }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.address.label_tag }}</label>
        <div class="col-lg-6">
            {{ form.address }}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">{{ form.note.label_tag }}</label>
        <div class="col-lg-6">
            {{ form.note }}
        </div>
    </div>
    <button class="btn btn-primary" type="submit">
        Зберегти
    </button>
    <a href="{% url 'crm:contracts' %}">
        <button class="btn btn-default" type="button">
            Назад
        </button>
    </a>
</form>