<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>
        {% block title %}
        ЕкоПроект / {{ title }}
        {% endblock %}
    </title>
    {% block css %}
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

    <![endif]-->
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" method="post">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">{{ title }}</h1>
            <img src="{% static '/images/login-logo.png' %}" alt=""/>
        </div>
        <div class="login-wrap">
            {% csrf_token %}
            {{ form.as_p }}
            <!--<input type="text" class="form-control" placeholder="User ID" autofocus>-->
            <!--<input type="password" class="form-control" placeholder="Password">-->

            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>

            <div class="registration">
                <a href="http://volyneko.com.ua/">Волиньекопромпроект</a>
                <!--<a class="" href="registration.html">-->
                    <!--Signup-->
                <!--</a>-->
            </div>
            <!--<label class="checkbox">-->
                <!--<input type="checkbox" value="remember-me"> Remember me-->
                <!--<span class="pull-right">-->
                    <!--<a data-toggle="modal" href="#myModal"> Forgot Password?</a>-->

                <!--</span>-->
            <!--</label>-->

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
             class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter your e-mail address below to reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off"
                               class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-primary" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>

</div>


<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
{% block js %}
<script src="{% static '/js/html5shiv.js' %}"></script>
<script src="{% static '/js/respond.min.js' %}"></script>

<script src="{% static '/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/modernizr.min.js' %}"></script>
{% endblock %}

</body>
</html>
