.table-sm{
    min-width: 100px;
}
.table-md {
    min-width: 200px;
}
.table-lg {
    min-width: 350px;
}
.table-div {
    /*min-width: 300px;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /*margin: 0 25px;*/
    /*border: 1px dotted #ddd;*/
    font-size: 13px;
}
.table-row {
    display: table-row;
    text-align: center;
    /*border: 1px dotted #ddd;*/
}
.table-cell {
    display: table-cell;
    padding: 2px 10px;
    border-bottom: 1px solid #ddd;
}