<!DOCTYPE html>

{% load staticfiles %}
{% load tags %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>
        {% block title %}
        Вепп
        {% endblock %}
    </title>

    {% block css %}
    <!--pickers css-->
    <link rel="stylesheet" type="text/css" href="{% static '/js/bootstrap-datepicker/css/datepicker-custom.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/js/bootstrap-timepicker/css/timepicker.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/js/bootstrap-colorpicker/css/colorpicker.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static '/js/bootstrap-daterangepicker/daterangepicker-bs3.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static '/js/bootstrap-datetimepicker/css/datetimepicker-custom.css' %}"/>

    <!--icheck-->
    <link href="{% static '/js/iCheck/skins/minimal/minimal.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/minimal/red.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/minimal/green.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/minimal/blue.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/minimal/yellow.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/minimal/purple.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/square/square.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/square/red.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/square/blue.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/square/green.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/square/yellow.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/square/purple.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/flat/grey.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/flat/red.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/flat/blue.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/flat/yellow.css' %}" rel="stylesheet">
    <link href="{% static '/js/iCheck/skins/flat/purple.css' %}" rel="stylesheet">

    <!--dashboard calendar-->
    <link href="{% static '/css/clndr.css' %}" rel="stylesheet">


    <!--common-->
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <link href="{% static '/css/style-responsive.css' %}" rel="stylesheet">

    <link href="{% static '/css/table-div.css' %}" rel="stylesheet">
    {% endblock %}

</head>

<body class="sticky-header left-side-collapsed">

<section>

    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            {% if user.is_dir or user.is_assistant %}
            <a href="{% url 'crm:main_crm' %}">
                <img src="{% static '/images/logo.png' %}" alt="">
            </a>
            {% elif user.is_superuser %}
            <a href="{% url 'admin:admin' %}">
                <img src="{% static '/images/logo.png' %}" alt="">
            </a>
            {% else %}
            <a href="{% url 'main' %}">
                <img src="{% static '/images/logo.png' %}" alt="">
            </a>
            {% endif %}
        </div>

        <div class="logo-icon text-center">
            {% if user.is_dir or user.is_assistant %}
            <a href="{% url 'crm:main_crm' %}">
                <img src="{% static '/images/logo_icon.png' %}" alt="">
            </a>
            {% elif user.is_superuser %}
            <a href="{% url 'admin:admin' %}">
                <img src="{% static '/images/logo_icon.png' %}" alt="">
            </a>
            {% else %}
            <a href="{% url 'main' %}">
                <img src="{% static '/images/logo_icon.png' %}" alt="">
            </a>
            {% endif %}
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="{{ user.avatar|default_avatar }}" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">{{ user }}</a></h4>
                    </div>
                </div>

                <h5 class="left-nav-title">Мій аккаунт</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li>
                        <a href="{% url 'crm:worker_update' user.pk %}">
                            <i class="fa fa-user"></i> <span>Профіль</span>
                        </a>
                    </li>
                    <li><a href="#"><i class="fa fa-cog"></i> <span>Налаштування</span></a></li>
                    <li><a href="{% url 'auth:logout' %}"><i class="fa fa-sign-out"></i> <span>Вихід</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            {% include 'mainapp/includes/inc_left_menu.html' %}
            <!--sidebar nav end-->
        </div>

    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--quick button-->
            <!--{% include 'mainapp/includes/inc_quick_button.html' %}-->
            <!--quick button end-->

            <!--search start-->
            <!--<form class="searchform" action="#" method="post">-->
            <!--<input type="text" class="form-control" name="keyword" placeholder="Пошук..."/>-->
            <!--</form>-->
            <!--search end-->

            <!--notification menu start -->
            <div class="menu-right">
                {% include 'mainapp/includes/inc_right_menu.html' %}
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start -->
        <div class="page-heading">
            <h3>{{ title }}</h3>
            <!--{% block breadcrumbs %}-->
            <!--<ul class="breadcrumb">-->
            <!--<li>-->
            <!--<a href="{% url 'main' %}">Головна</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--{% endblock %}-->
        </div>
        <!-- page heading end -->

        <!--body wrapper start-->
        <div class="wrapper">
            {% block container %}
            <!-- сюда подставлям основной контент всех страниц -->
            {% endblock %}
        </div>
        <!--body wrapper end-->

    </div>
    <!-- main content end-->
</section>

{% block js %}
<script src="{% static '/js/edit_script.js' %}"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="{% static '/js/html5shiv.js' %}"></script>
<script src="{% static '/js/respond.min.js' %}"></script>
<![endif]-->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="{% static '/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static '/js/jquery-ui-1.9.2.custom.min.js' %}"></script>
<script src="{% static '/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>
<script src="{% static '/js/modernizr.min.js' %}"></script>
<script src="{% static '/js/jquery.nicescroll.js' %}"></script>

<!--easy pie chart-->
<script src="{% static '/js/easypiechart/jquery.easypiechart.js' %}"></script>
<script src="{% static '/js/easypiechart/easypiechart-init.js' %}"></script>

<!--Sparkline Chart-->
<script src="{% static '/js/sparkline/jquery.sparkline.js' %}"></script>
<script src="{% static '/js/sparkline/sparkline-init.js' %}"></script>

<!--icheck -->
<script src="{% static '/js/iCheck/jquery.icheck.js' %}"></script>
<script src="{% static '/js/icheck-init.js' %}"></script>

<!--pickers plugins-->
<script type="text/javascript" src="{% static '/js/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
<script type="text/javascript"
        src="{% static '/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
<script type="text/javascript" src="{% static '/js/bootstrap-daterangepicker/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static '/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js' %}"></script>
<script type="text/javascript" src="{% static '/js/bootstrap-timepicker/js/bootstrap-timepicker.js' %}"></script>

<!--pickers initialization-->
<script src="{% static '/js/pickers-init.js' %}"></script>

<!-- file upload -->
<script type="text/javascript" src="{% static '/js/bootstrap-fileupload.min.js' %}"></script>

<!--common scripts for all pages-->
<script src="{% static '/js/scripts.js' %}"></script>
{% endblock %}

</body>
</html>