{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} / {{ title }}
{% endblock %}

{% block container %}

<div class="row">
    {% for task in task_list %}
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-body">
                {% for project in project_list %}
                {% if project.pk == task.project.pk %}
                <h4>{{ project.name }}
                    <span class="text-muted small">
                        {% if task.status == 'underway' %}
                        <span class="label label-info">Виконується</span>
                        {% elif task.status == 'done' %}
                        <span class="label label-success">Завершено</span>
                        {% else %}
                        <span class="label label-danger">Нове</span>
                        {% endif %}
                    </span>
                    <span class="small" style="float: right;"># {{ task.pk }}</span>
                </h4>
                <div class="media">
                    <a class="pull-left" href="{% url 'main:task_edit' task.pk %}">
                        {% if task.service.pk == 3 %}
                        <i class="fa fa-map-o fa-5x pull-left"></i>
                        {% elif task.service.pk == 2 %}
                        <i class="fa fa-flask fa-5x pull-left"></i>
                        {% else %}
                        <i class="fa fa-file-text-o fa-5x pull-left"></i>
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <address>
                            <strong>{{ task.service }}</strong>
                            <br>
                            Створено: {{ task.date_create|date:'d.m.Y' }}
                            <br>
                            Термін: {{ task.date_end|date:'d.m.Y' }}
                            <i></i>
                        </address>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

