{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }} / {{ block.super }}
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-lg-6">
        <a href="{% url 'main' %}">
            <button class="btn btn-default" type="button">
                Назад
            </button>
        </a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-8">
        <section class="panel">
            <header class="panel-heading">{{ title }}</header>
            <div class="panel-body">
                <div class="form">
                    <div class="form">
                        {% include 'crmapp/includes/inc_form_task_update.html' %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}