{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
{{ title }} / {{ block.super }}
{% endblock %}

{% block container %}
<div class="directory-info-row">
    <div class="row">
        <div class="col-lg-6">
            <a href="{% url 'crm:contract_create' %}">
                <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Додати</button>
            </a>
            <a href="{% url 'crm:main_crm' %}">
                <button class="btn btn-default" type="button">Назад</button>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    {{ title }}
                </header>
                <div class="panel-body" style="display: block;">
                    <table class="table table-hover general-table">
                        <thead>
                        <tr>
                            <th>№ договору</th>
                            <th>Дата укладання</th>
                            <th>Термін</th>
                            <th>Замовник</th>
                            <th>Виконавець</th>
                            <th>Вартість, грн.</th>
                            <th>Примітка</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>
                                <a style="display: block; text-decoration: none;"
                                   href="{% url 'crm:contract_read' object.pk %}">{{ object.number }}</a>
                            </td>
                            <td><a style="display: block; text-decoration: none;"
                                   href="{% url 'crm:contract_read' object.pk %}">{{ object.date_start|date:"d.m.Y" }} р.</a>
                            </td>
                            <td>{{ object.date_end|date:"d.m.Y" }} р.</td>
                            <td>{{ object.client }}</td>
                            <td>{{ object.performer }}</td>
                            <td>{{ object.cost }}</td>
                            <td>{{ object.note }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

