{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    {{ title }} / {{ block.super }}
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-lg-6">
        <a href="{% url 'crm:contract_update' object.pk %}">
            <button class="btn btn-primary" type="button">Редагувати</button>
        </a>
        <a href="{% url 'crm:invoice_create' object.pk %}">
            <button class="btn btn-primary" type="button">Рахунок <i class="fa fa-plus"></i></button>
        </a>
        <a href="{% url 'crm:act_create' object.pk %}">
            <button class="btn btn-primary" type="button">Акт <i class="fa fa-plus"></i></button>
        </a>
        <a href="{% url 'crm:project_create' object.pk %}">
            <button class="btn btn-primary" type="button">Проект <i class="fa fa-plus"></i></button>
        </a>
        <a href="{% url 'crm:contracts' %}">
            <button class="btn btn-default" type="button">Назад</button>
        </a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Основна інформація
            </header>
            <div class="panel-body">
                <ul class="p-info">
                    <li>
                        <div class="title">№ договору</div>
                        <div class="desk">{{ object.number }}</div>
                    </li>
                    <li>
                        <div class="title">Дата укладання</div>
                        <div class="desk">{{ object.date_start }}</div>
                    </li>
                    <li>
                        <div class="title">Термін виконання</div>
                        <div class="desk">{{ object.date_end }}</div>
                    </li>
                    <li>
                        <div class="title">Замовник</div>
                        <div class="desk">{{ object.client }}</div>
                    </li>
                    <li>
                        <div class="title">Виконавець</div>
                        <div class="desk">{{ object.performer }}</div>
                    </li>
                    <li>
                        <div class="title">Предмет договору</div>
                        <div class="desk">{{ object.works }}</div>
                    </li>
                    <li>
                        <div class="title">Вартість</div>
                        <div class="desk">{{ object.cost }}&nbsp;грн.</div>
                    </li>
                    <li>
                        <div class="title">Термін виконання</div>
                        <div class="desk">{{ object.date_end }}</div>
                    </li>
                    <li>
                        <div class="title">Район</div>
                        <div class="desk">{{ object.district }}</div>
                    </li>
                    <li>
                        <div class="title">Населений пункт</div>
                        <div class="desk">{{ object.town }}</div>
                    </li>
                    <li>
                        <div class="title">Адреса</div>
                        <div class="desk">{{ object.address }}</div>
                    </li>
                    <li>
                        <div class="title">Примітка</div>
                        <div class="desk">{{ object.note }}</div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
        <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Проект
            </header>
            <div class="panel-body" style="display: block;">
                <table class="table table-hover general-table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Дата початку</th>
                        <th>Дата закінчення</th>
                        <th>Прогрес</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in project_list %}
                    <tr>
                        <td>
                            <a style="display: block; text-decoration: none;"
                               href="{% url 'crm:projects' %}">
                                {{ project.pk }}
                            </a>
                        </td>
                        <td>{{ project.date_create|date:"d.m.Y" }} р.</td>
                        <td>{{ project.date_end|date:"d.m.Y" }} р.</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar"
                                     aria-valuenow="{{ object.status }}" aria-valuemin="0"
                                     aria-valuemax="100" style="width: {{ project.status }}%;">
                                    <!--<span class="sr-only">60% Complete</span>-->
                                    {{ project.status }}%
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
     <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Рахунки
            </header>
                <div class="panel-body" style="display: block;">
                    <table class="table table-hover general-table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Дата</th>
                            <th>Сума, грн.</th>
                            <th>Оплачено</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoice_list %}
                        <tr>
                            <td>
                                <a style="display: block; text-decoration: none;"
                                   href="{% url 'crm:invoice_read' invoice.pk %}">
                                    {{ invoice.num_invoice }}
                                </a>
                            </td>
                            <td>{{ invoice.date_create|date:"d.m.Y" }} р.</td>
                            <td>{{ invoice.price }}</td>
                            <td>
                                {% if invoice.is_paid %}
                                <i class="fa fa-check fa-lg" aria-hidden="true" title="Так"></i>
                                {% else %}
                                <i class="fa fa-times fa-lg" aria-hidden="true" title="Ні"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Акти
            </header>
            <div class="panel-body" style="display: block;">
                <table class="table table-hover general-table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Дата</th>
                        <th>Сума, грн.</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for act in act_list %}
                    <tr>
                        <td>
                            <a style="display: block; text-decoration: none;"
                               href="{% url 'crm:act_read' act.pk %}">
                                {{ act.num_act }}
                            </a>
                        </td>
                        <td>{{ act.date_create|date:"d.m.Y" }} р.</td>
                        <td>{{ act.price }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
{% endblock %}
