{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    {{ title }} / {{ block.super }}
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-lg-6">
        <a href="{% url 'crm:contract_update' object.pk %}">
            <button class="btn btn-primary" type="button">Редагувати</button>
        </a>
        <a href="{% url 'crm:invoice_create' object.pk %}">
            <button class="btn btn-primary" type="button">Створити рахунок</button>
        </a>
        <a href="{% url 'crm:contracts' %}">
            <button class="btn btn-default" type="button">Назад</button>
        </a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Основна інформація
            </header>
            <div class="panel-body">
                <ul class="p-info">
                    <li>
                        <div class="title">№ договору</div>
                        <div class="desk">{{ object.number }}</div>
                    </li>
                    <li>
                        <div class="title">Дата укладання</div>
                        <div class="desk">{{ object.date_start }}</div>
                    </li>
                    <li>
                        <div class="title">Термін виконання</div>
                        <div class="desk">{{ object.date_end }}</div>
                    </li>
                    <li>
                        <div class="title">Замовник</div>
                        <div class="desk">{{ object.client }}</div>
                    </li>
                    <li>
                        <div class="title">Виконавець</div>
                        <div class="desk">{{ object.performer }}</div>
                    </li>
                    <li>
                        <div class="title">Предмет договору</div>
                        <div class="desk">{{ object.works }}</div>
                    </li>
                    <li>
                        <div class="title">Вартість</div>
                        <div class="desk">{{ object.cost }}&nbsp;грн.</div>
                    </li>
                    <li>
                        <div class="title">Термін виконання</div>
                        <div class="desk">{{ object.date_end }}</div>
                    </li>
                    <li>
                        <div class="title">Район</div>
                        <div class="desk">{{ object.district }}</div>
                    </li>
                    <li>
                        <div class="title">Населений пункт</div>
                        <div class="desk">{{ object.town }}</div>
                    </li>
                    <li>
                        <div class="title">Примітка</div>
                        <div class="desk">{{ object.note }}</div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
     <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Рахунки
            </header>
                <div class="panel-body" style="display: block;">
                    <table class="table table-hover general-table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Дата</th>
                            <th>Сума, грн.</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoice_list %}
                        <tr>
                            <td>{{ invoice.num_invoice }}</td>
                            <td>{{ invoice.date_create }}</td>
                            <td>{{ invoice.price }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </section>
    </div>
</div>
{% endblock %}
