{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
{{ title }} / {{ block.super }}
{% endblock %}

{% block container %}
<div class="wrapper widgets">
    <div class="row">
        {% for contract in contract_list %}
        <div class="panel">
            <header class="panel-heading">
                {{ contract.client }} / {{ contract.performer }}
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" href="javascript:;"></a>
                </span>
            </header>

            <div class="panel-body">
                <!-- договор -->
                <a href="{% url 'crm:contract_read' contract.pk %}">
                    <div class="col-sm-3 table-div table-lg" title="{{ contract.note }}">
                        <!--<div class="table-div">-->
                        <div class="table-row">
                            <b>Договір</b>
                            <div class="table-row">
                                <div class="table-cell">№</div>
                                <div class="table-cell">укладено</div>
                                <div class="table-cell">термін</div>
                                <div class="table-cell">сума</div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell">{{ contract.number }}</div>
                                <div class="table-cell">{{ contract.date_start|date:"d.m.Y" }}</div>
                                <div class="table-cell">{{ contract.date_end|date:"d.m.Y" }}</div>
                                <div class="table-cell">{{ contract.cost }}</div>
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </a>

                <!-- счет -->
                <div class="col-sm-2 table-div table-md">
                    <div class="table-row">
                        <b>Рахунок</b>
                        <div class="table-row">
                            <div class="table-cell">№</div>
                            <div class="table-cell">оплачено</div>
                            <div class="table-cell">сума</div>
                        </div>
                        {% for invoice in invoice_list %}
                        {% if contract.pk == invoice.contract.pk %}
                        <div class="table-row"
                             style="{% if invoice.is_paid %} background: #99FFCC; {% else %} background: #FFCCCC; {% endif %}">
                            <div class="table-cell"><a href="{% url 'crm:invoice_read' invoice.pk %}">{{ invoice.num_invoice }}</a></div>
                            <div class="table-cell">{{ invoice.date_create|date:"d.m.Y" }}</div>
                            <div class="table-cell">{{ invoice.price }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- акт -->
                <div class="col-sm-1 table-div table-sm">
                    <div class="table-row">
                        <b>Акт</b>
                        <div class="table-row">
                            <div class="table-cell">№</div>
                            <div class="table-cell">дата</div>
                        </div>
                        {% for act in act_list %}
                        {% if contract.pk == act.contract.pk %}
                        <div class="table-row">
                            <div class="table-cell"><a href="{% url 'crm:act_read' act.pk %}">{{ act.num_act }}</a></div>
                            <div class="table-cell">{{ act.date_create|date:"d.m.Y" }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <!-- местоположение -->
                <div class="col-sm-3 table-div table-lg">
                    <div class="table-row">
                        <b>Місцезнаходження</b>
                        <div class="table-row">
                            <div class="table-cell">район</div>
                            <div class="table-cell">населений пункт</div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">{{ contract.district }}</div>
                            <div class="table-cell">{{ contract.town }}</div>
                        </div>
                    </div>
                </div>
                <!-- проект -->
                <div class="col-sm-2 table-div table-md">
                    <div class="table-row">
                        <b>Проект</b>
                        <div class="table-row">
                            <div class="table-cell">№</div>
                            <div class="table-cell">термін</div>
                            <div class="table-cell">прогрес</div>
                        </div>
                        {% for project in project_list %}
                        {% if contract.pk == project.contract.pk %}
                        <div class="table-row">
                            <div class="table-cell"><a href="{% url 'crm:projects' %}">{{ project.pk }}</a></div>
                            <div class="table-cell">{{ project.date_end|date:"d.m.Y" }}</div>
                            <!--<div class="table-cell">-->
                                <!--{{ project.status }}&nbsp;%-->
                                <div class="progress table-cell">
                                    <div class="progress-bar progress-bar-info" role="progressbar"
                                         aria-valuenow="{{ object.status }}" aria-valuemin="0"
                                         aria-valuemax="100" style="width: {{ project.status }}%;">
                                        <!--{{ project.status }}%-->
                                    </div>
                                </div>
                            <!--</div>-->
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
