{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    {{ block.super }} / {{ title }}
{% endblock %}

<!--{% block breadcrumbs %}-->

    <!--<ul class="breadcrumb">-->
        <!--<li>-->
            <!--{{ block.super }}-->
        <!--</li>-->
        <!--<li><a href="{% url 'crm:worker_update' object.pk%}">{{ object.last_name }} {{ object.first_name }}</a></li>-->
    <!--</ul>-->
<!--{% endblock %}-->

{% block container %}
<div class="row">
    <div class="col-lg-8">
        {% if user.is_superuser or user.is_dir or user.is_assistant or object.pk == user.pk %}
        <section class="panel">
            <header class="panel-heading">{{ title }}</header>
            <div class="panel-body">
                <div class="form">
                    <form id="signupForm" class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if object.pk == user.pk %}
                        <div class="form-group">
                            <label class="control-label col-lg-2">{{ form.username.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ form.username }}
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="control-label col-lg-2">{{ form.first_name.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">{{ form.last_name.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">{{ form.parent_name.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ form.parent_name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">{{ form.email.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">{{ form.phone1.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ form.phone1 }}
                                {{ form.phone1.help_text }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">{{ form.phone2.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ form.phone2 }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2">{{ form.date_of_birth.label_tag }}</label>
                            <div class="col-md-4 col-xs-11">
                                <div data-date-viewmode="years" data-date-format="dd.mm.yyyy" data-date="12-02-2012"
                                     class="input-append date dpYears">
                                    {{ form.date_of_birth }}
                                    <span class="input-group-btn add-on">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        {% if object.pk == user.pk %}
                        <div class="form-group last">
                            <label class="control-label col-lg-2">{{ form.avatar.label_tag }}</label>
                            <div class="col-md-9">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-preview fileupload-new thumbnail"
                                         style="max-width: 200px; max-height: 200px;">
                                        <img src="{{ object.avatar|default_avatar }}"
                                             style="max-width: 200px; max-height: 150px;" alt="">
                                    </div>
                                    <div>
                                        {{ form.avatar }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="col-md-4 col-xs-11">
                                {{ form.password }}
                                {{ form.is_active }}
                                {{ form.is_dir }}
                                {{ form.is_assistant }}
                                {{ form.is_client }}
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Зберегти
                        </button>
                        {% if user.is_superuser or user.is_dir or user.is_assistant %}
                        <a href="{% url 'crm:workers_list' %}">
                            <button class="btn btn-default" type="button">
                                Відмінити
                            </button>
                        </a>
                        {% else %}
                        <a href="{% url 'main' %}">
                            <button class="btn btn-default" type="button">
                                Відмінити
                            </button>
                        </a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </section>
        {% else %}
        <section class="panel">
            <header class="panel-heading">Помилка редагування</header>
            <div class="panel-body">
                <p>Доступ заборонено</p>
                <a href="{% url 'main' %}">
                    <button class="btn btn-default" type="button">Назад</button>
                </a>
            </div>
        </section>
        {% endif %}
    </div>
</div>
{% endblock %}