{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    {{ block.super }} / {{ title }}
{% endblock %}

{% block breadcrumbs %}

    <ul class="breadcrumb">
        <li>
            {{ block.super }}
        </li>
        <li><a href="{% url 'crm:workers_list' %}">{{ title }}</a></li>
    </ul>
{% endblock %}

{% block container %}
<div class="directory-info-row">
    <div class="row">
        {% for object in object_list %}
        <div class="col-lg-4 col-sm-6">
            <div class="panel">
                <div class="panel-body" style="{% if not object.is_active %}opacity: 0.3{% endif %}">
                    <h4>{{ object.last_name }} {{ object.first_name }}</h4>
                    <div class="media">
                        <a class="pull-left" href="{% url 'crm:worker_detail' object.pk %}">
                            <img class="thumb media-object" src="{{ object.avatar|default_avatar }}"
                                 style="max-width: 100px; max-height: 100px;" alt="">
                        </a>
                        <div class="media-body">
                            <address>
                                <strong>
                                    {% if object.is_superuser %}Адміністратор
                                    {% elif object.is_dir %}Керівник
                                    {% elif object.is_assistant %}Помічник
                                    {% else %}Працівник
                                    {% endif %}
                                </strong><br>
                                Реєстрація:<br> {{ object.date_joined }}<br>
                                <i class="fa fa-calendar" title="дата народження"></i> : {{ object.date_of_birth }}<br>
                                <i class="fa fa-phone fa-lg"></i> : {{ object.phone1 }}
                            </address>
                            <ul class="nav nav-pills p-option">
                                <li>
                                    {% if not object.is_superuser%}
                                    <a href="{% url 'crm:worker_update' object.pk %}">
                                        <i class="fa fa-pencil" title="Редагувати"></i>
                                    </a>
                                    {% endif %}
                                </li>
                                <li>
                                    <a href="{% url 'crm:worker_detail' object.pk %}">
                                        <i class="fa fa-eye" title="Переглянути"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

