{% extends 'mainapp/base.html' %}
{% load staticfiles %}
{% load tags %}

{% block title %}
    {{ block.super }} / {{ title }}
{% endblock %}



{% block container %}
<div class="row">
    <div class="col-lg-4">
        <a href="{% url 'crm:workers_list' %}" title="Список працівників">
            <button class="btn btn-default" type="button">Назад</button>
        </a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="profile-pic text-center">
                            <img src="{{ object.avatar|default_avatar }}" style="max-width: 200px; max-height: 200px;"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <ul class="p-info">
                                <li>
                                    <div class="title">Ім'я</div>
                                    <div class="desk">{{ object.first_name }}</div>
                                </li>
                                <li>
                                    <div class="title">Тип профілю</div>
                                    <div class="desk">
                                        {% if object.is_superuser %}Адміністратор
                                        {% elif object.is_dir %}Керівник
                                        {% elif object.is_assistant %}Помічник
                                        {% else %}Працівник
                                        {% endif %}
                                    </div>
                                </li>
                                <!--<li>-->
                                    <!--<div class="title">Логін</div>-->
                                    <!--<div class="desk">{{ object.username }}</div>-->
                                <!--</li>-->
                                <li>
                                    <div class="title">Дата реєстрації</div>
                                    <div class="desk">{{ object.date_joined }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-md-4">
        <!--<div class="row">-->
            <!--<div class="col-md-8">-->
                <div class="panel">
                    <div class="panel-body">
                        <ul class="p-info">
                            <li>
                                <div class="title">Прізвище</div>
                                <div class="desk">{{ object.last_name }}</div>
                            </li>
                            <li>
                                <div class="title">Ім'я</div>
                                <div class="desk">{{ object.first_name }}</div>
                            </li>
                            <li>
                                <div class="title">По-батькові</div>
                                <div class="desk">{{ object.parent_name }}</div>
                            </li>
                            <li>
                                <div class="title">e-mail</div>
                                <div class="desk">{{ object.email }}</div>
                            </li>
                            <li>
                                <div class="title">Телефон</div>
                                <div class="desk">{{ object.phone1 }}<br>
                                {% if object.phone2 == None %} &nbsp;{% endif %}</div>
                            </li>
                            <li>
                                <div class="title">Дата народження</div>
                                <div class="desk">{{ object.date_of_birth }}</div>
                            </li>
                            <li>
                                <div class="title">Обліковий запис</div>
                                <div class="desk">
                                    {% if object.is_active == True %}
                                        Включений
                                    {% else %}
                                        <span style="color: red;">Відключений</span>
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="title">Останній вхід в систему</div>
                                <div class="desk">
                                    {% if object.last_login == None %}
                                    жодного разу
                                    {% else %}
                                    {{ object.last_login }}
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="col-md-4">
        <div class="panel">
            <header class="panel-heading">
                Завдання
                <span class="tools pull-right">
                    <a class="fa fa-chevron-up" href="javascript:;"></a>
                </span>
            </header>

            <div class="panel-body" style="display: none;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Проект</th>
                            <th>Термін</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list%}
                        {% for task in task_list %}
                        {% if project.pk == task.project.pk %}
                        <tr>
                            <td>{{ task.pk }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ task.date_end|date:'d.m.Y' }} р.</td>
                            <td>
                                {% if task.status == 'underway' %}
                                <span class="label label-info">Виконується</span>
                                {% elif task.status == 'done' %}
                                <span class="label label-success">Завершено</span>
                                {% else %}
                                <span class="label label-danger">Нове</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
